/similarity/mocksimilarity/target/
/similarity/ncat/target/
/formatter/codebook/target/
/formatter/oaipmh/target/
/sna/mocksna/target/
/dataloader/target/
/sna/ncat/target/
/ingest/clinicaltrials/target/*
*/*.class
*.class
*.lst
*/target
*/*/target
